---
layout: default
title: About | IR Roofing Systems - Based in Essex
description: IR Roofing Systems has been created reflecting the increase in the industrial roof replacement industry in general. We have over 25 years experience.
---
<article>
    <h1>About Us</h1>
    <p><strong>IR Roofing Systems has been created reflecting the increase in the industrial roof replacement industry in general. With over 25 years in the roofing sector, our workload has moved from domestic into commercial operations, for the repair and replacement of corrugated asbestos cement roofs and plastisol coated profile metal roofing to industrial and commercial buildings. Corrugated asbestos cement sheeting and other associated products, including gutters and downpipes, was extensively used just after the Second World War during the 1950s and 1960s on mainly industrial buildings and domestic garages throughout the UK.</strong></p>
    <p>These roof coverings are typically in the order of sixty years old. The material is weathered and fragile, with an initial life expectancy estimated to be in the order of thirty years. It offers little or no thermal insulation, and this type of roof covering is nearing the end of its useful life. Typically roof lights incorporated into asbestos cement roofs are single skin and contribute to, if not cause, excessive condensation particularly in heated industrial/warehouse buildings. Plastisol coated lightweight profile metal sheeting was first introduced during the 1980s. The plastisol coating commonly had a guarantee of ten years and, as a result of UV (Ultraviolet) degradation, experience has shown that particularly roofs and elevations exposed to direct sunlight, the coating is severely degraded and in some cases virtually non-existent. As a consequence the metal sheeting can be severely corroded.</p>
</article>
<section class="two-tone-columns">
    <div class="two-tone-columns__single two-tone-columns__single--black">
        <div class="two-tone-columns__icon-container">
            <img class="two-tone-columns__icon" src="/images/icon-complete-service.svg" alt="Complete Service icon" width="63" height="62">
        </div>
        <h2>Complete Service</h2>
        <p>IR Roofing Systems is dedicated to providing a complete service for the repair and recovering of defective industrial roofing and cladding, including new builds. From a free estimate, based upon a comprehensive inspection of the roof or cladding materials, IR Roofing Systems are able to offer a complete service, including the sampling of materials to identify the asbestos content, to professional project management, including compliance with CDM and Health and Safety requirements.</p>
    </div>
    <div class="two-tone-columns__single">
        <div class="two-tone-columns__icon-container">
            <img class="two-tone-columns__icon" src="/images/icon-established.svg" alt="Established icon" width="56" height="57">
        </div>
        <h2>Established</h2>
        <p>We have an established working relationship with a practice of chartered surveyors and architects to help ensure a full range of services, from simple repair to over-cladding or comprehensive stripping and recovering of roofs, as well as design and build projects.</p>
        <a class="btn btn--black two-tone-columns__btn" href="/services.html">Find Out More</a>
    </div>
</section>
{% include testimonials.html %}
