---
layout: default
title: Contact Us | IR Roofing Systems - Based in Essex
description: For general enquiries please contact us using this page. Alternatively, you can contact us via the telephone, fax or email address provided on this page.
---
<article>
    <h1>Contact Us</h1>
    <p>For general enquiries please use the form below. Alternatively, you can contact us via the telephone, fax or email address provided.</p>
    <form id="form106" name="form106" class="contact-form" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://swancreative.wufoo.eu/forms/zg030dz0nm0k3m/#public" data-wufooformid="zg030dz0nm0k3m">
        <div class="contact-form__row">
            <div class="contact-form__column">
                <div class="contact-form__group">
                    <input class="contact-form__input" id="Field1" name="Field1" type="text" maxlength="255" required placeholder="Full name">
                </div>
                <div class="contact-form__group">
                    <input class="contact-form__input" id="Field2" name="Field2" type="email" spellcheck="false" maxlength="255" required placeholder="Email address">
                </div>
                <div class="contact-form__group">
                    <input class="contact-form__input" id="Field3" name="Field3" type="tel" maxlength="255" placeholder="Telephone no.">
                </div>
            </div>
            <div class="contact-form__column">
                <div class="contact-form__group">
                    <textarea class="contact-form__input contact-form__input--textarea" id="Field4" name="Field4" spellcheck="true" required placeholder="Message"></textarea>
                </div>
            </div>
        </div>
        <button class="btn contact-form__submit" type="submit">Submit</button>
        <div class="contact-form__hide">
            <label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
            <input type="hidden" id="idstamp" name="idstamp" value="SVtnDLO0vdPeOc6P95tejaGQ8Uh0JXlSNcpj6Fd+Xa8=">
        </div>
    </form>
</article>
<section class="two-tone-columns two-tone-columns--contact">
    <div class="two-tone-columns__single two-tone-columns__single--black">
        <div class="two-tone-columns__icon-container">
            <img class="two-tone-columns__icon" src="/images/icon-locate-us.svg" alt="Locate us icon" width="30" height="43">
        </div>
        <h2>Locate Us</h2>
        <p>Leigh-on-Sea, Essex, SS9 5AA</p>
    </div>
    <div class="two-tone-columns__single">
        <div class="two-tone-columns__icon-container">
            <img class="two-tone-columns__icon" src="/images/icon-call-us.svg" alt="Call us icon" width="26" height="42">
        </div>
        <h2>Contact Us</h2>
        <p><a class="two-tone-columns__link" href="tel:+441702522248">01702 522248</a></p>
        <p><a class="two-tone-columns__link" href="mailto:info@irroofingsystems.co.uk">info@irroofingsystems.co.uk</a></p>
        <p>Mobile: <a class="two-tone-columns__link" href="tel:+447869151253">07869 151253</a> / <a class="two-tone-columns__link" href="tel:+447930574032">07930 574032</a></p>
    </div>
</section>
<div class="contact-map">
    <div class="contact-map__map" id="map"></div>
</div>
