---
layout: default
title: Gallery | IR Roofing Systems - Based in Essex
description: Please take a look at our selection of photographs taken on our industrial and commercial works.
---
<article>
    <h1>Gallery</h1>
    <div class="gallery-tabs">
        <button class="gallery-tabs__item gallery-tabs__item--active">Industrial</button>
        <span class="gallery-tabs__separator">/</span>
        <button class="gallery-tabs__item">Commercial</button>
    </div>
    <div class="gallery gallery--visible" data-gallery-group="Industrial">
        <a href="/images/IMG_8485.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/IMG_8485_thumb.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/IMG_8526.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/IMG_8526_thumb.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/IMG_8527.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/IMG_8527_thumb.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-22.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-22.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-23.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-23.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-24.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-24.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-25.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-25.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-26.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-26.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-27.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-27.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-1.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-1.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-2.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-2.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-3.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-3.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-4.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-4.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-5.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-5.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-6.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-6.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-7.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-7.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-8.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-8.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-9.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-9.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-10.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-10.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-11.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-11.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-12.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-12.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-13.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-13.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-14.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-14.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-15.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-15.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-16.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-16.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-17.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-17.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-18.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-18.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-19.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-19.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-20.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-20.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-industrial-21.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-industrial-thumb-21.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
    </div>
    <div class="gallery" data-gallery-group="Commercial">
        <a href="/images/gallery-commercial-1.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-commercial-thumb-1.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-commercial-2.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-commercial-thumb-2.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-commercial-3.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-commercial-thumb-3.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-commercial-4.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-commercial-thumb-4.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-commercial-5.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-commercial-thumb-5.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
        <a href="/images/gallery-commercial-6.jpg" class="gallery__link" data-lightbox="gallery">
            <div class="gallery__img-container"><img src="/images/gallery-commercial-thumb-6.jpg" alt="" class="gallery__img" width="328" height="328"></div>
        </a>
    </div>
</article>
