---
layout: default
title: IR Roofing Systems - Based in Essex
description: IR Roofing Systems provide durable, sustainable and trusted roofing solutions to the industrial roof replacement industry.
---
<article>
    <h1>25 Years Experience in Industrial Roofing</h1>
    <p><strong>IR Roofing Systems provide durable, sustainable and trusted roofing solutions to the industrial roof replacement industry. Our brand has grown in tandem with the demand for proven solutions in the industrial roof replacement industry and we deliver the best protective skin to a building. The life expectancy of our product is in excess of thirty years. In domestic and commercial operations, we are known as the preferred choice of industry and the most prestigious course for a quarter of a century.  Our products win over customers with their high quality crafted installations and they are bound to impress with our timeless styling.</strong></p>
    <div class="icons-row">
        <div class="icons-row__single">
            <img class="icons-row__img" src="/images/icon-repair.svg" alt="Repair icon" width="102" height="102">
            <p class="icons-row__text">Repair</p>
        </div>
        <div class="icons-row__single">
            <img class="icons-row__img" src="/images/icon-over-cladding.svg" alt="Over-cladding icon" width="108" height="102">
            <p class="icons-row__text">Over-Cladding</p>
        </div>
        <div class="icons-row__single">
            <img class="icons-row__img" src="/images/icon-stripping-and-recovering.svg" alt="Stripping and recovering icon" width="165" height="102">
            <p class="icons-row__text">Stripping and Recovering</p>
        </div>
    </div>
    <a class="btn" href="/about.html">Find Out More</a>
</article>
{% include page-carousel.html %}
{% include testimonials.html %}
