---
layout: default
title: Suppliers | IR Roofing Systems - Based in Essex
description: Please take a look at our many suppliers, including CYB Fibreglass Technology, Team Icopal Approved Contractor, Tata Steel, Texsa and Hardy Roofing Supplies.
---
<article class="suppliers">
    <h1>Suppliers</h1>
    <div class="suppliers__row">
        <div class="suppliers__img-container">
            <img class="suppliers__img" src="/images/supplier-logo-cyb.png" alt="CYB Fibreglass Technology" width="240" height="111">
        </div>
        <div class="suppliers__text">
            <h2 class="suppliers__name">CYB Fibreglass Technology</h2>
            <p>As one of the UK's leading names in fibreglass flat roofing supplies, CYB has been an established, respected and reputable brand name since 1967.</p>
            <p>We are a family based company and are celebrating 50 fruitful years of yacht building and fibreglass based architecture.</p>
        </div>
    </div>
    <div class="suppliers__row">
        <div class="suppliers__img-container">
            <img class="suppliers__img" src="/images/supplier-logo-team-icopal.png" alt="Team Icopal Approved Contractor" width="240" height="158.5">
        </div>
        <div class="suppliers__text">
            <h2 class="suppliers__name">Team Icopal Approved Contractor</h2>
            <p>Icopal is the world leader in building protection from the roof right down to the basement.</p>
            <p>From our UK headquarters in Manchester and through our national network of over 2,000 stockists we offer you the UK’s most complete range of construction membranes, support services and insured roofing guarantees.</p>
        </div>
    </div>
    <div class="suppliers__row">
        <div class="suppliers__img-container">
            <img class="suppliers__img" src="/images/supplier-logo-tata-steel.png" alt="Tata Steel" width="240" height="31">
        </div>
        <div class="suppliers__text">
            <h2 class="suppliers__name">Tata Steel</h2>
            <p>Tata Steel is Europe's second largest steel producer, with steelmaking in the UK and Netherlands, and manufacturing plants across Europe.</p>
        </div>
    </div>
    <div class="suppliers__row">
        <div class="suppliers__img-container">
            <img class="suppliers__img" src="/images/supplier-logo-texsa.png" alt="Texsa" width="240" height="230">
        </div>
        <div class="suppliers__text">
            <h2 class="suppliers__name">Texsa</h2>
            <p>Texsa is an industrial company serving the building, refurbishment, distribution and civil works sectors, with products and systems that are adapted to their various needs.</p>
            <p>Texsa manufactures, markets and distributes products for waterproofing, thermal and acoustic insulation, as well as the corresponding auxiliary materials for each of these fields.</p>
        </div>
    </div>
    <div class="suppliers__row">
        <div class="suppliers__img-container">
            <img class="suppliers__img" src="/images/supplier-logo-hardy-roofing-supplies.png" alt="Hardy Roofing Supplies" width="240" height="134">
        </div>
        <div class="suppliers__text">
            <h2 class="suppliers__name">Hardy Roofing Supplies</h2>
            <p>Providing services to the industrial, agricultural and domestic markets, Hardy Roofing Supplies offers a wide variety of roofing solutions for all your needs.</p>
            <p>From composite panelling to corrugated sheeting you can find it all at Hardy Roofing Supplies.</p>
        </div>
    </div>
</article>
