<footer class="footer">
    <div class="footer__inside">
        <div class="footer__top">
            {% include svg/ir-roofing-systems-logo.svg class="footer__logo" width="359" height="65" %}
            <p class="footer__strapline">Built with Quality and Trust</p>
        </div>
        <div class="footer__row">
            <div class="footer__single">
                <h3 class="footer__title">About</h3>
                <p>IR Roofing Systems has been created reflecting the increase in the industrial roof replacement industry in general. With over 25 years in the roofing sector.</p>
            </div>
            <div class="footer__single footer__single--no-shrink">
                <h3 class="footer__title">Contact Us</h3>
                <p>IR Roofing Systems<br>
                    Leigh-on-Sea,<br>
                    Essex,<br>
                    SS9 5AA</p>
                <p>01702 522248<br>
                    Mark Spencer: 07869 151253<br>
                    Alex Hyde: 07930 574032</p>
            </div>
            <div class="footer__single footer__single--no-shrink">
                <h3 class="footer__title">Navigation</h3>
                <nav class="footer__nav">
                    <div class="footer__nav-row">
                        <div class="footer__nav-column">
                            <a class="footer__nav-link" href="/">Home</a>
                            <a class="footer__nav-link" href="/about.html">About</a>
                            <a class="footer__nav-link" href="/services.html">Services</a>
                        </div>
                        <div class="footer__nav-column">
                            <a class="footer__nav-link" href="/suppliers.html">Suppliers</a>
                            <a class="footer__nav-link" href="/gallery.html">Gallery</a>
                            <a class="footer__nav-link" href="/contact-us.html">Contact Us</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="footer__copyright-inside">
            <p>Copyright &copy; <span class="footer__year">2017</span> IR Roofing Systems. All rights reserved.</p>
            <p>Website by <a href="http://www.swancreative.com/" target="_blank">Swan Creative</a>.</p>
        </div>
    </div>
</footer>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/scrollreveal.min.js"></script>
<script src="/js/lightbox.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/script.js"></script>
{% if page.url == '/contact-us.html' %}
    <script>
        function initMap() {
            var mapCanvas = document.getElementById('map');
            var myLatLng = new google.maps.LatLng(51.572568, 0.644953);
            var styles = [{"featureType":"all","elementType":"all","stylers":[{"saturation":-100},{"gamma":0.5}]}];
            var mapOptions = {
                center: myLatLng,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: styles,
                scrollwheel: false
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var markerImage = {
                url: '/images/icon-map-pin.png',
                scaledSize: new google.maps.Size(51, 51),
            };
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: markerImage
            });
            google.maps.event.addDomListener(window, 'resize', function() {
                map.setCenter(myLatLng);
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkbqFDEcwuDYLconPnOWXi4pNA8EXhQbc&amp;callback=initMap" async defer></script>
{% endif %}
