<header class="header">
    <div class="header__top">
        <div class="header__inside">
            <a class="header__logo" href="/">{% include svg/ir-roofing-systems-logo.svg class="header__logo-img" width="433" height="78" %}</a>
            <a class="btn header__btn" href="/contact-us.html">Free Quote No Obligation</a>
        </div>
    </div>
    {% if page.url == '/' or page.url == '/index.html' %}
        <div class="header__banner">
            <div class="header__banner-slide" style="background-image: url('/images/banner-home-3.jpg');">
                <div class="header__banner-title-container">
                    <p class="header__banner-title">Durable, sustainable and trusted</p>
                </div>
            </div>
            <div class="header__banner-slide" style="background-image: url('/images/banner-home-1.jpg');">
                <div class="header__banner-title-container">
                    <p class="header__banner-title">High quality crafted installations</p>
                </div>
            </div>
            <div class="header__banner-slide" style="background-image: url('/images/banner-home-2.jpg');">
                <div class="header__banner-title-container">
                    <p class="header__banner-title">Timeless styling</p>
                </div>
            </div>
        </div>
    {% endif %}
    {% if page.url == '/about.html' %}
        <div class="header__banner header__banner--shallow">
            <div class="header__banner-slide" style="background-image: url('/images/banner-about.jpg');"></div>
        </div>
    {% endif %}
    {% if page.url == '/services.html' %}
        <div class="header__banner header__banner--shallow">
            <div class="header__banner-slide" style="background-image: url('/images/banner-services.jpg');"></div>
        </div>
    {% endif %}
    {% if page.url == '/gallery.html' %}
        <div class="header__banner header__banner--shallow">
            <div class="header__banner-slide" style="background-image: url('/images/banner-gallery.jpg');"></div>
        </div>
    {% endif %}
    {% if page.url == '/contact-us.html' %}
        <div class="header__banner header__banner--shallow">
            <div class="header__banner-slide" style="background-image: url('/images/banner-contact-us.jpg');"></div>
        </div>
    {% endif %}
</header>
