<nav class="nav">
    <a class="nav__logo" href="/">{% include svg/ir-roofing-systems-logo-small.svg %}</a>
    <div class="nav__list-container">
        <ul class="nav__list">
            <li class="nav__item{% if page.url == '/' or page.url == '/index.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/">Home</a></li>
            <li class="nav__item{% if page.url == '/about.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/about.html">About</a></li>
            <li class="nav__item{% if page.url == '/services.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/services.html">Services</a></li>
            <li class="nav__item{% if page.url == '/suppliers.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/suppliers.html">Suppliers</a></li>
            <li class="nav__item{% if page.url == '/gallery.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/gallery.html">Gallery</a></li>
            <li class="nav__item{% if page.url == '/contact-us.html' %} nav__item--active{% endif %}"><a class="nav__link" href="/contact-us.html">Contact Us</a></li>
        </ul>
    </div>
    <p class="nav__phone">&nbsp;01702 522248</p>
    <button class="nav__toggle">{% include svg/nav-toggle.svg %}</button>
</nav>
