<section class="page-carousel">
    <div class="page-carousel__slide">
        {% include svg/before-after-roofing-overlay.svg %}
        <img class="page-carousel__img" src="/images/before-after-roofing.jpg" alt="Roofing before and after" width="1024" height="450">
    </div>
    <!-- <div class="page-carousel__slide">
        {% include svg/before-after-roofing-overlay.svg %}
        <img class="page-carousel__img" src="/images/before-after-roofing.jpg" alt="Roofing before and after" width="1024" height="450">
    </div>
    <div class="page-carousel__slide">
        {% include svg/before-after-roofing-overlay.svg %}
        <img class="page-carousel__img" src="/images/before-after-roofing.jpg" alt="Roofing before and after" width="1024" height="450">
    </div> -->
</section>
