<section class="suppliers-footer">
    <h2 class="suppliers-footer__title">Accredited Suppliers</h2>
    <div class="suppliers-footer__row">
        <div class="suppliers-footer__img-container">
            <img class="suppliers-footer__img" src="/images/supplier-footer-logo-cyb.png" alt="CYB Fibreglass Technology" width="172" height="84">
        </div>
        <div class="suppliers-footer__img-container">
            <img class="suppliers-footer__img" src="/images/supplier-footer-logo-team-icopal.png" alt="Team Icopal Approved Contractor" width="149" height="84">
        </div>
        <div class="suppliers-footer__img-container">
            <img class="suppliers-footer__img" src="/images/supplier-footer-logo-tata-steel.png" alt="Tata Steel" width="161" height="35">
        </div>
        <div class="suppliers-footer__img-container">
            <img class="suppliers-footer__img" src="/images/supplier-footer-logo-texsa.png" alt="Texsa" width="88" height="84">
        </div>
        <div class="suppliers-footer__img-container">
            <img class="suppliers-footer__img" src="/images/supplier-footer-logo-hardy-roofing-supplies.png" alt="Hardy Roofing Supplies" width="153" height="153">
        </div>
    </div>
</section>
