<section class="testimonials">
    <h2 class="testimonials__title">Testimonials</h2>
    <div class="testimonials__carousel">
        <div class="testimonials__slide">
            <div class="testimonials__text">
                <p>As a director of a property company we spent some 2 years, considering the feasibility and cost and stripping and replacing corrugated asbestos cement roofs to factories/warehouses when vacant in Rutherford Close, Progress Road, Southend on Sea and the replacement of asbestos cement external cladding to elevations of industrial buildings, Swinborne Court, Basildon.</p>
                <p>It has always been the company's policy as landlords to re-invest in buildings owned, notwithstanding the tenants' full repairing liabilities. The Landlord decided to pay for the works. Competitive estimates were obtained, and we are delighted with the results. At Rutherford Close, to date, five asbestos cement roofs have been stripped and re-covered with insulated plastisol coated profile metal roofing. A further three roofs are programmed for completion within the next six weeks. Working closely with IRS, two of these roofs are to adjoining units which will be occupied.</p>
                <p>At Swinborne Court, Basildon the asbestos cement cladding has been replaced with a pre­coloured, maintenance free, non-asbestos board and at the same time asbestos cement gutters and downpipes have also been replaced. The works have transformed the appearance of the buildings, and both the landlords and tenants are delighted.</p>
            </div>
            <p class="testimonials__details">B Spector Kingsridge Properties</p>
        </div>
        <div class="testimonials__slide">
            <div class="testimonials__text">
                <p>I am grateful for the efficient and professional manner in which the asbestos cement roof covering to one of my companies' warehouses was stripped and re-covered. The works were undertaken in accordance with the agreed programme, left in a clean and tidy condition. The price was the most competitive of the estimates obtained.</p>
            </div>
            <p class="testimonials__details">Alan Witzenfeld CEO-DCK Marketing</p>
        </div>
    </div>
</section>
