// ================
// CONTENTS
// ----------------
// VARIABLES
// FONTS
// GENERAL
// NAV
// HEADER
// ICONS ROW
// PAGE CAROUSEL
// TWO TONE COLUMNS
// GALLERY
// CONTACT PAGE
// TESTIMONIALS
// SUPPLIERS
// SUPPLIERS FOOTER
// FOOTER
// ================

// VARIABLES

$yellow: #FFC20E;
$black: #1A1511;

$screen-lg-min: 1200px;
$screen-md-max: 1199px;
$screen-md-min: 992px;
$screen-sm-max: 991px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;

// FONTS

@font-face {
    font-family: 'Gotham HTF';
    src: url('/fonts/gothamhtf-light-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham HTF';
    src: url('/fonts/gothamhtf-bold-webfont.woff2') format('woff2'),
         url('/fonts/gothamhtf-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// GENERAL

body {
    font-family: 'Gotham HTF', sans-serif;
    color: $black;

    @media (max-width: $screen-sm-max) {
        padding-top: 58px;
    }

    &.nav-fixed {
        @media (min-width: $screen-md-min) {
            padding-top: 64px;
        }

        @media (min-width: $screen-lg-min) {
            padding-top: 70px;
        }
    }
}

h1,
h2 {
    text-transform: uppercase;
    font-size: 2.125em;
}

p,
a {
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: $yellow;
    font-weight: bold;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

article {
    width: 100%;
    margin: 60px auto;
    text-align: center;

    @media (max-width: $screen-xs-max) {
        padding: 0 15px;
        box-sizing: border-box;
    }

    @media (min-width: $screen-sm-min) {
        width: 720px;
    }

    @media (min-width: $screen-md-min) {
        width: 940px;
    }

    @media (min-width: $screen-lg-min) {
        width: 1024px;
    }
}

.btn {
    background-color: $yellow;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    background-image: linear-gradient(120deg, rgba(#FFF, 0.5), rgba(#FFF, 0.5) 40%, $yellow 40%, $yellow);
    background-size: 100%;
    transition: background-size 0.3s;
    display: inline-block;
    margin: 0;
    border: 0;
    cursor: pointer;

    @media (max-width: $screen-xs-max) {
        width: 100%;
    }

    @media (min-width: $screen-sm-min) {
        min-width: 300px;
    }

    &:hover,
    &:focus {
        outline: none;
        background-size: 300%;
        text-decoration: none;
    }

    &--black {
        color: $yellow;
        background-color: $black;
        background-image: linear-gradient(120deg, rgba(#FFF, 0.2), rgba(#FFF, 0.2) 40%, $black 40%, $black);
    }
}

// NAV

.nav {
    background-color: $yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 15px;
    box-sizing: border-box;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        padding: 13px 24px;
    }

    @media (max-width: $screen-sm-max) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
    }

    @media (min-width: $screen-md-min) {
        padding: 13px 26px 13px 61px;
        overflow: hidden;
    }

    @media (min-width: $screen-lg-min) {
        padding: 13px 40px 13px 75px;
    }

    body.nav-fixed & {
        @media (min-width: $screen-md-min) {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99;
            width: 100%;
            padding: 13px 26px;
            animation: nav_fixed_slide_down 0.3s;
        }

        @media (min-width: $screen-lg-min) {
            padding: 13px 40px;
        }
    }

    @keyframes nav_fixed_slide_down {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    &__logo {
        display: none;

        body.nav-fixed & {
            @media (min-width: $screen-md-min) {
                display: block;
            }
        }

        &:hover,
        &:focus {
            outline: none;
        }
    }

    &__logo-img {
        display: block;
        color: #FFF;
        transition: color 0.3s;

        .nav__logo:hover &,
        .nav__logo:focus & {
            color: $black;
        }
    }

    &__list-container {
        @media (max-width: $screen-sm-max) {
            position: fixed;
            top: 58px;
            left: 0;
            width: 100%;
            z-index: 99;
            background-color: $yellow;
            box-sizing: border-box;
            display: none;
        }

        @media (min-width: $screen-md-min) {
            margin: 0 auto 0 0;
            display: block !important;
        }
    }

    &__list {
        list-style: none;
        padding: 13px 15px;
        display: flex;
        margin: 0;

        @media (min-width: $screen-sm-min) {
            padding: 13px 24px;
        }

        @media (max-width: $screen-sm-max) {
            flex-direction: column;
            align-items: center;
            border-top: 10px solid $black;
        }

        @media (min-width: $screen-md-min) {
            padding: 0;
        }

        body.nav-fixed & {
            @media (min-width: $screen-md-min) {
                padding-left: 61px;
            }

            @media (min-width: $screen-lg-min) {
                padding-left: 75px;
            }
        }
    }

    &__item {
        display: block;

        @media (min-width: $screen-md-min) {
            margin-right: 26px;
        }

        @media (min-width: $screen-lg-min) {
            margin-right: 40px;
        }

        &--active {
            position: relative;

            &:before {
                position: absolute;
                top: 28px;
                right: 100%;
                margin-right: -15px;
                display: block;
                content: '';
                width: 5px;
                height: 32px;
                background-color: #FFF;
                transform: skewX(-30deg);
                transform-origin: top right;

                @media (min-width: $screen-md-min) {
                    height: 37px;
                    top: 6px;
                    margin-right: 5px;
                    transform: skewX(-30deg) translate3d(0, 100%, 0);
                    animation: active_nav_line 1s 0.3s forwards;

                    @keyframes active_nav_line {
                        100% {
                            transform: skewX(-30deg) translate3d(0, 0, 0);
                        }
                    }
                }

                @media (min-width: $screen-lg-min) {
                    height: 41px;
                }
            }
        }
    }

    &__link {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: $black;
        font-weight: bold;
        transition: color 0.3s;
        font-size: 1.125em;

        @media (max-width: $screen-sm-max) {
            padding: 20px;
        }

        @media (min-width: $screen-md-min) {
            font-size: 0.875em;
        }

        @media (min-width: $screen-lg-min) {
            font-size: 1em;
        }

        .nav__item--active &,
        &:hover,
        &:focus {
            color: #FFF;
            outline: none;
            text-decoration: none;
        }

        .nav__item--active & {
            &:hover,
            &:focus {
                color: $black;
            }
        }
    }

    &__phone {
        margin: 0;
        font-weight: bold;
        font-size: 1.25em;

        @media (min-width: $screen-md-min) {
            font-size: 1.5em;
        }

        @media (min-width: $screen-lg-min) {
            font-size: 1.75em;
        }

        a {
            color: $black;
            text-decoration: none;
            transition: color 0.3s;

            &:hover,
            &:focus {
                color: #FFF;
                outline: none;
                text-decoration: none;
            }
        }
    }

    &__toggle {
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        display: block;
        cursor: pointer;

        @media (min-width: $screen-md-min) {
            display: none;
        }

        &:hover,
        &:focus {
            outline: none;
        }
    }

    &__toggle-img {
        display: block;
        color: $black;
        transition: color 0.3s;

        .nav__toggle:hover &,
        .nav__toggle:focus & {
            color: #FFF;
        }
    }
}

// HEADER

.header {
    &__top {
        background-color: $black;
    }

    &__inside {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 15px;

        @media (max-width: $screen-sm-max) {
            box-sizing: border-box;
        }

        @media (min-width: $screen-sm-min) {
            width: 720px;
            padding: 50px 0;
        }

        @media (min-width: $screen-md-min) {
            width: 940px;
            padding: 72px 0;
        }

        @media (min-width: $screen-lg-min) {
            width: 1024px;
        }
    }

    &__logo {
        display: block;

        @media (max-width: $screen-xs-max) {
            margin: 0 auto;
        }

        &:hover,
        &:focus {
            outline: none;
        }
    }

    &__logo-img {
        display: block;
        color: $yellow;
        transition: color 0.3s;

        @media (max-width: $screen-sm-max) {
            width: 100%;
            height: auto;
        }

        .header__logo:hover &,
        .header__logo:focus & {
            color: #FFF;
        }
    }

    &__logo-img-i,
    &__logo-img-r,
    &__logo-img-text {
        opacity: 0;

        @keyframes ir_logo_fade {
            100% {
                opacity: 1;
            }
        }
    }

    &__logo-img-i {
        animation: ir_logo_fade 1s 0.3s forwards;
    }

    &__logo-img-r {
        animation: ir_logo_fade 1s 0.7s forwards;
    }

    &__logo-img-text {
        animation: ir_logo_fade 1s 1.7s forwards;
    }

    &__btn {
        @media (max-width: $screen-xs-max) {
            display: none;
        }

        @media (min-width: $screen-sm-min) {
            width: 215px;
            min-width: initial;
            padding: 5px 38px;
        }
    }

    &__banner {
        border-bottom: 10px solid $black;
        position: relative;
        height: 350px;
        box-sizing: border-box;
        overflow: hidden;
        background-color: #EEE;

        @media (min-width: $screen-sm-min) {
            height: 550px;
        }

        &--shallow {
            height: 260px;
        }

        &:before {
            position: absolute;
            top: 0;
            right: 50%;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background-color: rgba($yellow, 0.8);
            transform: skewX(-30deg);
            transform-origin: top right;
            margin-right: 100px;
            z-index: 1;

            @media (min-width: $screen-sm-min) {
                margin-right: 200px;
            }

            @media (min-width: $screen-md-min) {
                margin-right: 300px;
            }

            @media (min-width: $screen-lg-min) {
                margin-right: 400px;
            }
        }
    }

    &__banner-slide,
    .slick-initialized &__banner-slide.slick-slide {
        background-position: center;
        background-size: cover;
        background-color: #EEE;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: $screen-xs-max) {
            padding: 0 50px;
        }

        @media (min-width: $screen-sm-min) {
            height: 540px;
        }

        .header__banner--shallow & {
            height: 250px;
        }
    }

    .header__banner--shallow.slick-initialized &__banner-slide.slick-slide {
        height: 250px;
    }

    &__banner-title-container {
        background-color: rgba($yellow, 0.8);
        padding: 24px 30px;
        transform: skewX(-30deg) translateX(300px);
        opacity: 0;

        @media (min-width: $screen-md-min) {
            padding: 16px 60px;
        }

        &--animate {
            opacity: 1;
            transform: skewX(-30deg) translateX(0);
            transition: transform 1s,
                        opacity 0.3s;
        }

    }

    &__banner-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: #FFF;
        font-size: 1.125em;
        margin: 0;
        transform: skewX(30deg);

        @media (min-width: $screen-sm-min) {
            font-size: 1.5em;
        }

        @media (min-width: $screen-md-min) {
            font-size: 2.125em;
        }
    }

    &__banner-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        padding: 13px 34px 14px;
        margin: -43px 0 0;
        border: 0;
        background-color: $black;
        display: block;
        color: $yellow;
        transform: skewX(-30deg);
        cursor: pointer;
        transition: color 0.3s,
                    padding-right 0.3s,
                    padding-left 0.3s;

        @media (max-width: $screen-xs-max) {
            display: none !important;
        }

        &:hover,
        &:focus {
            color: #FFF;
            outline: none;
        }

        &--prev {
            left: 0;
            transform-origin: top left;

            &:hover,
            &:focus {
                padding-right: 64px;
            }
        }

        &--next {
            right: 0;
            transform-origin: bottom right;

            &:hover,
            &:focus {
                padding-left: 64px;
            }
        }
    }

    &__banner-arrow-img {
        display: block;
        transform: skewX(30deg);
    }
}

// ICONS ROW

.icons-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 0;

    @media (max-width: $screen-xs-max) {
        flex-direction: column;
    }

    &__single {
        flex: 1;

        @media (max-width: $screen-xs-max) {
            width: 100%;

            &:not(:last-child) {
                margin: 0 0 30px;
            }
        }

        @media (min-width: $screen-sm-min) {
            padding: 0 20px;
        }

        @media (min-width: $screen-md-min) {
            padding: 0 50px;
        }
    }

    &__img {
        margin: 0 0 30px;
    }

    &__text {
        font-weight: bold;
        font-size: 1.375em;
        text-transform: uppercase;
        margin: 0;
        line-height: 1.2em;
    }
}

// PAGE CAROUSEL

.page-carousel {
    margin: 60px auto;
    overflow: hidden;
    background-color: #EEE;

    @media (max-width: $screen-xs-max) {
        width: 100%;
    }

    @media (min-width: $screen-sm-min) {
        width: 720px;
        height: 317px;
    }

    @media (min-width: $screen-md-min) {
        width: 940px;
        height: 414px;
    }

    @media (min-width: $screen-lg-min) {
        width: 1024px;
        height: 450px;
    }

    &__slide,
    .slick-initialized &__slide.slick-slide {
        background-color: #EEE;
        position: relative;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__before-after-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        padding: 13px 34px 14px;
        margin: -43px 0 0;
        border: 0;
        background-color: $black;
        display: block;
        color: $yellow;
        transform: skewX(-30deg);
        cursor: pointer;
        transition: color 0.3s,
                    padding-right 0.3s,
                    padding-left 0.3s;

        @media (max-width: $screen-xs-max) {
            display: none !important;
        }

        &:hover,
        &:focus {
            color: #FFF;
            outline: none;
        }

        &--prev {
            left: 0;
            transform-origin: top left;

            &:hover,
            &:focus {
                padding-right: 64px;
            }
        }

        &--next {
            right: 0;
            transform-origin: bottom right;

            &:hover,
            &:focus {
                padding-left: 64px;
            }
        }
    }

    &__arrow-img {
        display: block;
        transform: skewX(30deg);
    }
}

// TWO TONE COLUMNS

.two-tone-columns {
    margin: 60px auto;
    text-align: center;
    display: flex;

    @media (max-width: $screen-xs-max) {
        width: 100%;
        flex-direction: column;
        padding: 0 15px;
        box-sizing: border-box;
    }

    @media (min-width: $screen-sm-min) {
        width: 720px;
    }

    @media (min-width: $screen-md-min) {
        width: 940px;
    }

    @media (min-width: $screen-lg-min) {
        width: 1024px;
    }

    &--contact {
        margin-bottom: 0;
    }

    &--about-call-us {
        h2 {
            a {
                color: inherit;
                text-decoration: none;
                font-weight: normal;
            }
        }
    }

    &__single {
        flex-shrink: 0;
        background-color: $yellow;
        padding: 0 15px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 76px;
        box-sizing: border-box;

        @media (min-width: $screen-sm-min) {
            width: 50%;
            padding: 0 30px 50px;
        }

        .two-tone-columns--full-width & {
            width: 100%;
        }

        .two-tone-columns--contact & {
            margin-top: 49px;
        }

        .two-tone-columns--about-call-us & {
            padding-bottom: 0;
        }

        &:first-child {
            @media (max-width: $screen-xs-max) {
                margin-bottom: 60px;
            }

            @media (min-width: $screen-sm-min) {
                margin-right: 10px;
            }

            .two-tone-columns--full-width & {
                margin-right: 0;
                margin-bottom: 0;
            }

            .two-tone-columns--contact & {
                @media (min-width: $screen-sm-min) {
                    margin-right: 0;
                }
            }
        }

        &:last-child {
            @media (min-width: $screen-sm-min) {
                margin-left: 10px;
            }

            .two-tone-columns--full-width & {
                margin-left: 0;
            }

            .two-tone-columns--contact & {
                @media (min-width: $screen-sm-min) {
                    margin-left: 0;
                }
            }
        }

        &--black {
            background-color: $black;
            color: #FFF;
        }

        p {
            margin: 0 0 20px;

            .two-tone-columns--contact & {
                font-size: 1.25em;

                @media (min-width: $screen-sm-min) {
                    margin: 0;
                }
            }
        }

        p.text-left {
            width: 100%;
            text-align: left;
        }
    }

    &__icon-container {
        width: 108px;
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $black;
        margin-top: -54px;
        margin-bottom: 20px;
        transform: rotateX(90deg) rotateZ(45deg);
        transition: transform 1s;

        .two-tone-columns__single--black & {
            background-color: $yellow;
        }

        .two-tone-columns--contact & {
            width: 69px;
            height: 69px;
            margin-top: -34px;
        }

        .two-tone-columns__single--animate & {
            transform: rotateX(0deg) rotateZ(45deg);
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list-item {
        line-height: 1.6em;

        &:before {
            content: '/';
            color: $yellow;
            margin-right: 10px;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__icon {
        display: block;
        transform: rotateZ(-45deg);
    }

    &__btn {
        @media (max-width: $screen-xs-max) {
            margin-top: 40px;
        }

        @media (min-width: $screen-sm-min) {
            margin-top: auto;
        }
    }

    &__list-left {
        text-align: left;
        line-height: 1.6em;
        margin: 0 0 20px;
        padding-left: 17px;
        list-style: none;

        li {
            position: relative;

            &:before {
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background: $yellow;
                position: absolute;
                top: 11px;
                left: -16px;
            }
        }
    }

    &__hr {
        display: block;
        width: 155px;
        height: 2px;
        background: white;
        border: 0;
        margin: 0 0 20px;
    }

    &__link {
        color: $black;
        font-weight: normal;
    }
}

// GALLERY

.gallery {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $screen-xs-max) {
        margin-left: -7px;
        margin-right: -8px;
    }

    &--visible {
        display: flex;
    }

    &__link {
        display: block;
        margin-bottom: 15px;
        width: 50%;

        @media (max-width: $screen-xs-max) {
            padding-left: 7px;
            padding-right: 8px;
            box-sizing: border-box;
        }

        @media (min-width: $screen-sm-min) {
            width: 226px;
            margin-bottom: 20px;
        }

        @media (min-width: $screen-md-min) {
            width: 300px;
        }

        @media (min-width: $screen-lg-min) {
            width: 328px;
        }
    }

    &__img-container {
        position: relative;
        overflow: hidden;

        &:before,
        &:after {
            position: absolute;
            display: block;
            opacity: 0;
            transition: opacity 0.3s;
        }

        &:before {
            content: '';
            bottom: 0;
            right: 0;
            width: 80px;
            height: 150px;
            background-color: $yellow;
            transform: skewX(-30deg);
            transform-origin: bottom right;
            z-index: 1;
        }

        &:after {
            content: '+';
            bottom: 5px;
            right: 5px;
            color: $black;
            font-size: 5em;
            line-height: 0.6em;
            font-weight: normal;
            z-index: 1;
        }

        .gallery__link:hover &,
        .gallery__link:focus & {
            &:before,
            &:after {
                opacity: 1;
            }
        }
    }

    &__img {
        display: block;
        transition: transform 2s;
        width: 100%;
        height: auto;

        .gallery__link:hover &,
        .gallery__link:focus & {
            transform: scale(1.1);
        }
    }
}

.gallery-tabs {
    list-style: none;
    padding: 0;
    margin: 40px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $screen-xs-max) {
        flex-direction: column;
    }

    &__item {
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: bold;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        transition: color 0.3s;

        &:hover,
        &:focus {
            outline: none;
            color: $yellow;
        }

        &--active {
            color: $yellow;
        }
    }

    &__separator {
        font-size: 1.5em;
        font-weight: bold;
        color: $yellow;
        margin: 0 20px;
    }
}

// CONTACT PAGE

.contact-form {
    text-align: left;

    &__row {
        margin: 0 -10px;

        @media (min-width: $screen-sm-min) {
            display: flex;
        }
    }

    &__column {
        flex: 1;
        margin: 0 10px;
    }

    &__group {
        width: 100%;
        margin-bottom: 20px;
    }

    &__input {
        width: 100%;
        box-sizing: border-box;
        background-color: #DEDDDB;
        border: 0;
        padding: 10px 15px;
        margin: 0;
        font-family: 'Gotham HTF', sans-serif;

        &:focus {
            outline: none;
            background-color: lighten(#DEDDDB, 5%);
        }

        &--textarea {
            height: 154px;

            .contact-form--quick-quote & {
                height: 99px;
            }
        }
    }

    &__submit {
        @media (min-width: $screen-sm-min) {
            margin-left: 50%;
            position: relative;
            left: 10px;
        }

        .contact-form--quick-quote & {
            display: block;
            margin-left: auto;
            margin-right: auto;
            left: 0;
        }
    }

    &__hide {
        display: none;
    }

    &__success {
        font-size: 1.5em;
        color: #4CAF50;
        font-weight: bold;
    }

    &__error {
        color: #F44336;
        margin: 5px 0 0;
        font-size: 0.875em;
    }
}

.contact-map {
    width: 100%;
    height: 660px;
    border-bottom: 10px solid $black;

    &__map {
        width: 100%;
        height: 100%;
    }
}

// TESTIMONIALS

.testimonials {
    margin: 60px auto;
    text-align: center;

    @media (max-width: $screen-xs-max) {
        width: 100%;
    }

    @media (min-width: $screen-sm-min) {
        width: 720px;
    }

    @media (min-width: $screen-md-min) {
        width: 940px;
    }

    @media (min-width: $screen-lg-min) {
        width: 1024px;
    }

    &__carousel-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        padding: 0;
        margin: -29px 0 0;
        border: 0;
        background-color: transparent;
        display: block;
        color: $yellow;
        cursor: pointer;
        transition: color 0.3s;

        @media (max-width: $screen-xs-max) {
            display: none !important;
        }

        &:hover,
        &:focus {
            color: $black;
            outline: none;
        }

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }
    }

    &__carousel-arrow-img {
        display: block;
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    &__slide {
        @media (max-width: $screen-xs-max) {
            padding: 0 15px;
        }

        @media (min-width: $screen-sm-min) {
            padding: 0 40px;
        }
    }

    &__text {
        p:first-child {
            margin-top: 0;
        }
    }

    &__details {
        font-weight: bold;
        margin-bottom: 0;
    }
}

// SUPPLIERS

.suppliers {
    &__row {
        display: flex;
        align-items: flex-start;
        margin: 50px 0;

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
        }
    }

    &__img-container {
        flex-shrink: 0;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            margin-bottom: 30px;
        }

        @media (min-width: $screen-sm-min) {
            margin-right: 30px;
            width: 240px;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    &__text {
        width: 100%;

        @media (min-width: $screen-sm-min) {
            text-align: left;
        }
    }

    &__name {
        margin-top: 0;
        font-size: 1.6875em;
    }
}

// SUPPLIERS FOOTER

.suppliers-footer {
    background-color: $yellow;
    text-align: center;
    padding: 50px 0 35px;

    @media (min-width: $screen-sm-min) {
        padding: 50px 0;
    }

    &__title {
        margin-top: 0;
        font-size: 1.6875em;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            flex-wrap: wrap;
            padding: 0 7px 0 8px;
            box-sizing: border-box;
        }

        @media (min-width: $screen-sm-min) {
            width: 720px;
        }

        @media (min-width: $screen-md-min) {
            width: 940px;
        }

        @media (min-width: $screen-lg-min) {
            width: 1024px;
        }
    }

    &__img-container {
        @media (max-width: $screen-xs-max) {
            width: 50%;
            margin-bottom: 15px;
            padding-left: 7px;
            padding-right: 8px;
            box-sizing: border-box;
        }

        &:not(:first-child) {
            @media (min-width: $screen-sm-min) {
                margin-left: 10px;
            }
        }

        &:not(:last-child) {
            @media (min-width: $screen-sm-min) {
                margin-right: 10px;
            }
        }
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

// FOOTER

.footer {
    background-color: $black;
    color: #FFF;

    &__inside {
        margin: 0 auto;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            padding: 50px 15px;
            box-sizing: border-box;
        }

        @media (min-width: $screen-sm-min) {
            width: 720px;
            padding: 50px 0;
        }

        @media (min-width: $screen-md-min) {
            width: 940px;
        }

        @media (min-width: $screen-lg-min) {
            width: 1024px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
        }
    }

    &__logo {
        display: block;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    }

    &__strapline {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        color: $yellow;
        font-size: 1.1875em;
    }

    &__row {
        display: flex;
        justify-content: space-between;

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
        }

        p {
            margin: 0;
        }

        p,
        a {
            font-size: 0.875em;
            line-height: 1.8em;
        }
    }

    &__single {
        &--no-shrink {
            @media (max-width: $screen-xs-max) {
                margin-top: 50px;
            }

            @media (min-width: $screen-sm-min) {
                margin-left: 50px;
                flex-shrink: 0;
            }

            @media (min-width: $screen-md-min) {
                margin-left: 140px;
            }

            @media (min-width: $screen-lg-min) {
                margin-left: 180px;
            }
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 1.3125em;
        margin-top: 0;
        position: relative;
        display: flex;
        align-items: center;

        &:before {
            margin-right: 20px;
            display: block;
            content: '';
            width: 5px;
            height: 24px;
            background-color: $yellow;
            transform: skewX(-30deg);
            transform-origin: bottom left;
        }
    }

    &__nav-row {
        display: flex;
    }

    &__nav-column {
        flex-shrink: 0;

        &:first-child {
            margin-right: 50px;
        }
    }

    &__nav-link {
        display: block;
        color: #FFF;
        text-transform: uppercase;
        transition: color 0.3s;

        &:hover,
        &:focus {
            outline: none;
            color: $yellow;
            text-decoration: none;
        }
    }

    &__copyright {
        background-color: #383632;
    }

    &__copyright-inside {
        margin: 0 auto;
        font-size: 0.75em;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            overflow: hidden;
            padding: 0 15px;
            box-sizing: border-box;
        }

        @media (min-width: $screen-sm-min) {
            width: 720px;
            display: flex;
            justify-content: space-between;
        }

        @media (min-width: $screen-md-min) {
            width: 940px;
        }

        @media (min-width: $screen-lg-min) {
            width: 1024px;
        }

        a {
            transition: color 0.3s;

            &:hover,
            &:focus {
                text-decoration: none;
                outline: none;
                color: #FFF;
            }
        }
    }
}
